<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>

        {% for post in posts %}
            <p>Опубликовано (Published): {{ post.published_date }}  </p>  <!-- точно также-->
            <h1><a href=""> {{ post.title }}</a></h1>   <!--post.title - Обращение к полю title модели Post-->
            <p>{{ post.text|linebreaksbr }}</p>       <!-- |linebreaksbr - прогоняет текст через фильтр, для преобразования переносов строк в параграфы -->
        {% endfor %}
    </body>
</html>